<div class="file-selector">
    <div class="file-selector-header">
      <h2>Files</h2>
    </div>
    <div class="file-selector-content">
        <select #fileSelectList *ngIf="files && files.length > 0" (change)="onFileSelected()" size="10">
            <option *ngFor="let file of files"
                [value]="file.webkitRelativePath" 
                draggable="true"
                (dragstart)="onDragStart($event, file)"
                (dblclick)="insertNewLayer(file)"
                >
                {{file.webkitRelativePath}}
            </option>
        </select>

        <input type="file" webkitdirectory multiple directory (change)="onLoadFile($event.target)">
    </div>
</div>