.app-main-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .app-workbar {
        width: 100%;
        height: auto;
    }
}