.workbar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    padding: 16px;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
}
  
.workbar.collapsed {
    width: 50px;
}

.workbar button {
    margin-top: auto;
}