#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#image-container {
    overflow: auto;
}

#image-preview {
    display: inline;

    max-height: 80vh;
    max-width: 80vw;


    transform-origin: top left;
    -drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}