<div class="layer-bar" [ngClass]="{'collapsed': isCollapsed}"> 
    <button (click)="toggleToolbar()">Toggle</button>

    <div class="layer-list" #layerList [hidden]="isCollapsed">
        <h3>Layers</h3>
        <div>
            <label for="image-width">Width:</label>
            <input type="number" id="image-width" [(ngModel)]="imageWidth" (change)="updateImageSize()" />
          </div>
          <div>
            <label for="image-height">Height:</label>
            <input type="number" id="image-height" [(ngModel)]="imageHeight" (change)="updateImageSize()" />
          </div>
        
        <div class="layer-list">
            <app-layer class="draggable" draggable="true" *ngFor="let layer of layers; let i = index" [layer]="layer"
            (dragstart)="onDragStart($event, i)" (dragend)="onDragEnd($event)" 
            (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" 
            (dragleave)="onDragLeave($event)" (drop)="onDrop($event, i)">
            </app-layer>
        </div>
    </div>
</div>