<div class="layer-bar" [ngClass]="{'collapsed': isCollapsed}"> 
    <button (click)="toggleToolbar()">Toggle</button>

    <div class="layer-list" #layerList [hidden]="isCollapsed">
        <h3>Layers</h3>
        <div>
            <label for="image-width">Width:</label>
            <input type="number" id="image-width" [(ngModel)]="imageWidth" (change)="updateImageSize()" />
          </div>
          <div>
            <label for="image-height">Height:</label>
            <input type="number" id="image-height" [(ngModel)]="imageHeight" (change)="updateImageSize()" />
          </div>
        
        <div class="layer-list">
            <div *ngFor="let layer of layers; let i = index">
              <div class="drag-anchor" draggable="true" 
                (dragstart)="onDragStart($event, i)" (dragleave)="onDragLeave($event)" 
                (dragend)="onDragEnd($event)" (dragover)="onDragOver($event)" 
                (dragenter)="onDragEnter($event)" (drop)="onDrop($event, i)">
                <br>⚓
              </div>
              <app-layer class="drop-anchor" [layer]="layer" 
                (dragend)="onDragEnd($event)" (dragover)="onDragOver($event)" 
                (dragenter)="onDragEnter($event)" (drop)="onDrop($event, i)">
              </app-layer>
            </div>
        </div>
    </div>
</div>