<div id="layer-name" (dblclick)="editName()">{{ layer.name }}</div>
<div class="layer">
    <div class="layer-controls">
      <tr *ngFor="let item of layer.attributes | keyvalue">
        <button (click)="deleteRow(item.key, item.value)">🗑️</button>
        <td>
          <input [(ngModel)]="item.key" (blur)="onChangedRow(item.key, item.value)" (keyup.enter)="onChangedRow(item.key, item.value)">
        </td>
        <td>:</td>
        <td>
          <input [(ngModel)]="item.value" (blur)="onChangedRow(item.key, item.value)" (keyup.enter)="onChangedRow(item.key, item.value)">
        </td>
      </tr>
    </div>
</div>